.mkcb1:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb1:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb1-white {
    background-color: #fff;
    color: #777;
}

.mkcb1::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb1-white::after {
    background-color: #fff;
}

.mkcb1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb1-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



.mkcb2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb2:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb2-white {
    background-color: #fff;
    color: #777;
}

.mkcb2::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb2-white::after {
    background-color: #fff;
}

.mkcb2:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb2-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.mkcb3:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb3:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb3-white {
    background-color: #fff;
    color: #777;
}

.mkcb3::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb3-white::after {
    background-color: #fff;
}

.mkcb3:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb3-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.mkcb4:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb4:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb4-white {
    background-color: #fff;
    color: #777;
}

.mkcb4::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb4-white::after {
    background-color: #fff;
}

.mkcb4:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb4-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.mkcb5:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb5:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb5-white {
    background-color: #fff;
    color: #777;
}

.mkcb5::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb5-white::after {
    background-color: #fff;
}

.mkcb5:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb5-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}


.mkcb6:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb6:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb6-white {
    background-color: #fff;
    color: #777;
}

.mkcb6::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb6-white::after {
    background-color: #fff;
}

.mkcb6:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb6-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.mkcb7:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb7:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb7-white {
    background-color: #fff;
    color: #777;
}

.mkcb7::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb7-white::after {
    background-color: #fff;
}

.mkcb7:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb7-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



.mkcb8:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb8:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb8-white {
    background-color: #fff;
    color: #777;
}

.mkcb8::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb8-white::after {
    background-color: #fff;
}

.mkcb8:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb8-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.mkcb9:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb9:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb9-white {
    background-color: #fff;
    color: #777;
}

.mkcb9::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb9-white::after {
    background-color: #fff;
}

.mkcb9:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb9-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.mkcb10:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb10:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb10-white {
    background-color: #fff;
    color: #777;
}

.mkcb10::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb10-white::after {
    background-color: #fff;
}

.mkcb10:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb10-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.mkcb11:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb11:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb11-white {
    background-color: #fff;
    color: #777;
}

.mkcb11::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb11-white::after {
    background-color: #fff;
}

.mkcb11:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb11-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}


.mkcb12:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb12:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb12-white {
    background-color: #fff;
    color: #777;
}

.mkcb12::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb12-white::after {
    background-color: #fff;
}

.mkcb12:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb12-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.mkcb13:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb13:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb13-white {
    background-color: #fff;
    color: #777;
}

.mkcb13::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb13-white::after {
    background-color: #fff;
}

.mkcb13:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb13-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.mkcb14:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb14:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb14-white {
    background-color: #fff;
    color: #777;
}

.mkcb14::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb14-white::after {
    background-color: #fff;
}

.mkcb14:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb14-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.mkcb15:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.mkcb15:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.mkcb15-white {
    background-color: #fff;
    color: #777;
}

.mkcb15::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.mkcb15-white::after {
    background-color: #fff;
}

.mkcb15:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.mkcb15-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}