
.b1:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b1:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b1-white {
    background-color: #fff;
    color: #777;
}

.b1::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b1-white::after {
    background-color: #fff;
}

.b1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b1-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



.b2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b2:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b2-white {
    background-color: #fff;
    color: #777;
}

.b2::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b2-white::after {
    background-color: #fff;
}

.b2:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b2-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b3:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b3:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b3-white {
    background-color: #fff;
    color: #777;
}

.b3::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b3-white::after {
    background-color: #fff;
}

.b3:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b3-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b4:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b4:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b4-white {
    background-color: #fff;
    color: #777;
}

.b4::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b4-white::after {
    background-color: #fff;
}

.b4:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b4-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b5:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b5:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b5-white {
    background-color: #fff;
    color: #777;
}

.b5::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b5-white::after {
    background-color: #fff;
}

.b5:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b5-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}


.b6:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b6:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b6-white {
    background-color: #fff;
    color: #777;
}

.b6::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b6-white::after {
    background-color: #fff;
}

.b6:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b6-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.b7:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b7:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b7-white {
    background-color: #fff;
    color: #777;
}

.b7::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b7-white::after {
    background-color: #fff;
}

.b7:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b7-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



.b8:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b8:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b8-white {
    background-color: #fff;
    color: #777;
}

.b8::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b8-white::after {
    background-color: #fff;
}

.b8:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b8-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b9:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b9:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b9-white {
    background-color: #fff;
    color: #777;
}

.b9::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b9-white::after {
    background-color: #fff;
}

.b9:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b9-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b10:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b10:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b10-white {
    background-color: #fff;
    color: #777;
}

.b10::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b10-white::after {
    background-color: #fff;
}

.b10:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b10-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b11:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b11:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b11-white {
    background-color: #fff;
    color: #777;
}

.b11::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b11-white::after {
    background-color: #fff;
}

.b11:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b11-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}


.b12:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b12:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b12-white {
    background-color: #fff;
    color: #777;
}

.b12::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b12-white::after {
    background-color: #fff;
}

.b12:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b12-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.b13:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b13:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b13-white {
    background-color: #fff;
    color: #777;
}

.b13::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b13-white::after {
    background-color: #fff;
}

.b13:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b13-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.b14:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b14:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b14-white {
    background-color: #fff;
    color: #777;
}

.b14::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b14-white::after {
    background-color: #fff;
}

.b14:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b14-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}