.fpb1:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb1:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb1-white {
    background-color: #fff;
    color: #777;
}

.fpb1::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb1-white::after {
    background-color: #fff;
}

.fpb1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb1-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



.fpb2:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb2:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb2-white {
    background-color: #fff;
    color: #777;
}

.fpb2::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb2-white::after {
    background-color: #fff;
}

.fpb2:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb2-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fpb3:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb3:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb3-white {
    background-color: #fff;
    color: #777;
}

.fpb3::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb3-white::after {
    background-color: #fff;
}

.fpb3:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb3-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fpb4:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb4:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb4-white {
    background-color: #fff;
    color: #777;
}

.fpb4::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb4-white::after {
    background-color: #fff;
}

.fpb4:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb4-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fpb5:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb5:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb5-white {
    background-color: #fff;
    color: #777;
}

.fpb5::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb5-white::after {
    background-color: #fff;
}

.fpb5:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb5-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}


.fpb6:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb6:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb6-white {
    background-color: #fff;
    color: #777;
}

.fpb6::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb6-white::after {
    background-color: #fff;
}

.fpb6:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb6-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.fpb7:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb7:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb7-white {
    background-color: #fff;
    color: #777;
}

.fpb7::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb7-white::after {
    background-color: #fff;
}

.fpb7:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb7-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



.fpb8:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb8:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb8-white {
    background-color: #fff;
    color: #777;
}

.fpb8::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb8-white::after {
    background-color: #fff;
}

.fpb8:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb8-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fpb9:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb9:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb9-white {
    background-color: #fff;
    color: #777;
}

.fpb9::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb9-white::after {
    background-color: #fff;
}

.fpb9:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb9-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fpb10:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb10:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb10-white {
    background-color: #fff;
    color: #777;
}

.fpb10::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb10-white::after {
    background-color: #fff;
}

.fpb10:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb10-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fpb11:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb11:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb11-white {
    background-color: #fff;
    color: #777;
}

.fpb11::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb11-white::after {
    background-color: #fff;
}

.fpb11:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb11-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}


.fpb12:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb12:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb12-white {
    background-color: #fff;
    color: #777;
}

.fpb12::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb12-white::after {
    background-color: #fff;
}

.fpb12:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb12-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.fpb13:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb13:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb13-white {
    background-color: #fff;
    color: #777;
}

.fpb13::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb13-white::after {
    background-color: #fff;
}

.fpb13:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb13-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.fpb14:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb14:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb14-white {
    background-color: #fff;
    color: #777;
}

.fpb14::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb14-white::after {
    background-color: #fff;
}

.fpb14:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb14-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.fpb15:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.fpb15:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.fpb15-white {
    background-color: #fff;
    color: #777;
}

.fpb15::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.fpb15-white::after {
    background-color: #fff;
}

.fpb15:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.fpb15-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}