
.b15:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b15:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b15-white {
    background-color: #fff;
    color: #777;
}

.b15::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b15-white::after {
    background-color: #fff;
}

.b15:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b15-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



.b16:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b16:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b16-white {
    background-color: #fff;
    color: #777;
}

.b16::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b16-white::after {
    background-color: #fff;
}

.b16:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b16-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b17:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b17:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b17-white {
    background-color: #fff;
    color: #777;
}

.b17::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b17-white::after {
    background-color: #fff;
}

.b17:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b17-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b18:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b18:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b18-white {
    background-color: #fff;
    color: #777;
}

.b18::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b18-white::after {
    background-color: #fff;
}

.b18:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b18-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b19:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b19:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b19-white {
    background-color: #fff;
    color: #777;
}

.b19::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b19-white::after {
    background-color: #fff;
}

.b19:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b19-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}


.b20:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b20:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b20-white {
    background-color: #fff;
    color: #777;
}

.b20::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b20-white::after {
    background-color: #fff;
}

.b20:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b20-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.b21:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b21:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b21-white {
    background-color: #fff;
    color: #777;
}

.b21::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b21-white::after {
    background-color: #fff;
}

.b21:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b21-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



.b22:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b22:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b22-white {
    background-color: #fff;
    color: #777;
}

.b22::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b22-white::after {
    background-color: #fff;
}

.b22:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b22-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b23:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b23:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b23-white {
    background-color: #fff;
    color: #777;
}

.b23::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b23-white::after {
    background-color: #fff;
}

.b23:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b23-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b24:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b24:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b24-white {
    background-color: #fff;
    color: #777;
}

.b24::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b24-white::after {
    background-color: #fff;
}

.b24:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b24-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.b25:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b25:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b25-white {
    background-color: #fff;
    color: #777;
}

.b25::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b25-white::after {
    background-color: #fff;
}

.b25:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b25-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}


.b26:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b26:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b26-white {
    background-color: #fff;
    color: #777;
}

.b26::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b26-white::after {
    background-color: #fff;
}

.b26:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b26-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

.b27:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.b27:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.b27-white {
    background-color: #fff;
    color: #777;
}

.b27::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.b27-white::after {
    background-color: #fff;
}

.b27:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.b27-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}
