.button_back{
    background-color: transparent;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom:20px;
    border: none;
    position:absolute;
    margin-top: 14px;
}
.button_back1{
    background-color: transparent;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom:20px;
    border: none;
    position:absolute;
  
}