.headerr
{
    margin-left: -10px;
    margin-top: -10px;
    height: 120px;
    width: 1280px;
    background-color: #F0F0F0;
}

.header
{
    margin-top: -100px;
    margin-left: 100px;
    position: absolute;
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.logo
{
    position: absolute;
    margin-top: -106px;
    width: 90px;
    height: 90px;
}


.cont1
{
    margin-top: 0px;
    margin-left: 100px;
    border: 2px solid green;
    width: 1020px;
    text-align: center;
    font-size: 32px;
}

.n6
{
    margin-top: 30px;
}

.n11
{
    margin-top: 30px;
    margin-left: 500px;
}

.cont2
{
    margin-top: 30px;
    margin-left: 100px;
    border: 2px solid green;
    width: 1020px;
    text-align: center;
    font-size: 32px;
}

.mapGKB
{
    margin-left: 300px;
    font-size: 36px;
    color: green;
}
.karta
{
    margin-top: 150px;
}
.shema
{
    width: 1250px;
    height: 900px;
}
.waytext
{
    margin-top: 20px;
    margin-left: 300px;
    font-size: 36px;
    color: green;
}
.wayimg
{
    margin-left: 40px;
    width: 1170px;
    height: 800px;
    padding-bottom: 30px;
}